<a href="https://colab.research.google.com/github/SudhikshaR/Isa_taskphase/blob/main/multi_var_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('Fish.csv')
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [ ]:
df=df.drop(columns=['Species'])

In [ ]:
X=df.values[:,1:]
y=df.values[:,0:1]
m=len(y)

In [ ]:
def feature_normalize(X):
  mu=np.mean(X,axis=0)
  sigma=np.std(X,axis=0,ddof=1)
  X_norm=(X-mu)/sigma
  return X_norm,mu,sigma

In [ ]:
X,mu,sigma=feature_normalize(X)

In [ ]:
X=np.hstack((np.ones((m,1)),X))

In [ ]:
def compute_cost(X,y,theta):
  predictions=X.dot(theta)
  errors=np.subtract(predictions,y)
  sqr_errors=np.square(errors)
  j=(1/(2*m))*np.sum(sqr_errors)
  return j

In [ ]:
def gradient_descent(X,y,theta,alpha,iterations):
  cost_history=np.zeros(iterations)
  for i in range(iterations):
    predictions=X.dot(theta)
    errors=np.subtract(predictions,y)
    sum_delta=(alpha/m)*X.transpose().dot(errors)
    theta=theta-sum_delta
    cost_history[i] = compute_cost(X, y, theta) 
  return theta,cost_history

In [ ]:
theta=np.zeros((6,1))
iterations=400
alpha=0.15

In [ ]:
theta, cost_history = gradient_descent(X, y, theta, alpha, iterations)

In [ ]:
theta

array([[398.32641509],
       [132.59234507],
       [ 97.93596922],
       [ -4.21571933],
       [ 56.26068195],
       [ 75.99843954]])